@import url('https://fonts.googleapis.com/css?family=Audiowide|Montserrat:400,500,600,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #E98EC2;
}

body {
    font-family: 'Montserrat';
    background: linear-gradient(90deg, #180D21 0%, #081631 101.45%);
    color: #F6F6F6;
    position: relative;
}

h1 {
    font-family: 'Audiowide';
    font-size: 48px;
    color: #D41D86;
}

h2 {
    font-family: 'Montserrat';
    font-size: 22px;
    color: #F6F6F6;
}

h3 {
    font-family: 'Audiowide';
    font-size: 28px;
    color: #E98EC2;
}

h4 {
    font-family: 'Audiowide';
    font-size: 28px;
    color: #f6f6f6;
}

h5 {
    font-family: 'Audiowide';
    font-size: 24px;
    color: #f6f6f6;
}

h6 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    color: #E98EC2;
}

.logo {
    width: 90px;
    height: 90px;
    margin-left: -50px;


}

#header {
    width: 100%;
    height: 159px;
    background-size: contain;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.container {
    padding: 40px 65px;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 166px 30px;
    gap: 479px;
    position: absolute;
    width: 1512px;
    height: 159px;
    left: calc(50% - 1512px/2);
    top: 0px;
}

nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 100px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

/*addsitenav*/
nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(222, 124, 241);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Hero */

.backgroundimage {
    position: absolute;
    width: 1025px;
    height: 585px;
    left: 850px;
    top: 176px;
}



.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: start;
    padding-top: 50px;
    justify-content: center;
    overflow: hidden;
}

.herotext {
    position: absolute;
    width: 856px;
    height: 360.5px;
    left: calc(50% - 856px/2 - 186px);
    top: 256px;
}


.herotext h1 {
    font-size: 64px;
    margin-bottom: 20px;
    line-height: 1;
}

.herotext p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #F6F6F6
}

.primary {
    background: linear-gradient(92.93deg, #D41D86 0.91%, #E98EC2 112.16%);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.secondary {
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}

.btn {
    display: inline-block;
    background-color: #f45642;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e23d39;
}

/* FEATURES */
.features-flex {
    display: flex;
    justify-content: space-between;
}

.features-content {
    padding: 50px;
}

.features-icon {
    padding-bottom: 20px;
}

.features-card {
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid #D41D86;
    border-radius: 20px;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px, rgba(226, 104, 174, 0.25) 0%, rgba(212, 29, 134, 0.1));
}

/* PRICE */

.price-title {
    text-align: center;
    padding-bottom: 20px;
}

.price-flex {
    display: flex;
    justify-content: space-between;
}

.price-card {
    padding: 100px;
    height: auto;
    width: auto;
    text-align: center;
    border: 2px solid #f6f6f6;
    border-radius: 20px;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px, rgba(246, 246, 246, 0.25) 0%, rgba(246, 246, 246, 0.1));
}


.price-line {
    color: #E268AE
}

/* FAQS */


/* FOOTER */
.row {
    display: flex;
}

.top-footer {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    align-items: flex-start;
}

.footer-logo img {
    width: 60.5px;
    height: 50px;
}

.footer-logo-text {
    font-size: 20px;
    padding-left: 30px;
    font-family: 'Audiowide';
    height: 50px;
    color: #F6F6F6;
    line-height: 15px;

}

.footer-column h5 {
    font-size: 16px;
    font-weight: 600;
    color: #E268AE;
}

.footer-links {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    color: #F6F6F6;
    text-decoration: none;
}

.footer-socials {
    display: flex;
    justify-content: flex-end;
}

.icon {
    margin-left: 40px;
}

.footer-socials img {
    width: 20px;
    height: 20px;
}

.border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.bottom-copyright {
    font-size: 12px;
    font-weight: 200;
    letter-spacing: normal;
}

.utility-links {
    font-size: 12px;
    font-weight: 200;
    margin-left: 20px;
    padding: 10px;
    letter-spacing: normal;
    color: #F6F6F6;
    text-decoration: none;

}

ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;

}